html{
    background-color: #ffffff;
}

h3{
    padding: 5px;
    font-size: 30px;
    color: rgb(254, 145, 38);
}

.main-grid{
    background-image: url(../img/parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    grid-template-columns: 180px 1fr 180px;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas:
    ". . ."
    ". formulario-registro ."
    ". . ."
}.form-header{
    height: 50px;
    text-align: center;
}



.formulario-registro{
    grid-area: formulario-registro;
    background-color: #ffffff;
}

.div-formulario{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 2fr 100px 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . . . ."
    ". label-foto . subir-foto ."
    ". . . . ."
    ". label1 . input1 ."
    ". . . . ."
    ". label2 . input2 ."
    ". . . . ." 
    ". label3 . tipo1 ."
    ". . . . ."
    ". label4 . tipo2 ."
    ". . . . ."
    ". cancelar . registrar ."
    ". . . . ." 
}

.label-foto{
    grid-area: label-foto;
    font-size: 30px

}
.div-foto{
    grid-area: subir-foto;
    display: grid;
    grid-template-rows: 90px 23px;
    grid-template-areas:
    "image"
    "button" 
}


#txtImagen{
    width: 90px;
    height: 85px;
    zoom: 1.5;
    grid-area: image
}

#btnSubirFoto{
    height: 23px;
    width: 90px;
    grid-area: button;
}

.label1{
    grid-area: label1;
    font-size: 30px
}

.input1{
    grid-area: input1;
    width: 300px;
    height: 30px;
}

.label2{
    grid-area: label2;
    font-size: 30px
}

.input2{
    grid-area: input2;
    width: 300px;
    height: 30px;
}

.label3{
    grid-area: label3;
    font-size: 30px;
}
#txtTipo1{
    grid-area: tipo1;
}

.label4{
    grid-area: label4;
    font-size: 30px;
}

#txtTipo2{
    grid-area: tipo2
}

#btnCancelar{
    grid-area: cancelar;
}

#btnRegistrar{
    grid-area: registrar;
}


